@font-face {
    font-family: 'garamond';
    src: url('EBGaramond-VariableFont_wght.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;

}

.garamond {
    font-family: 'garamond', serif;
}