@import "./fonts/museo/museo300.scss";
@import "./fonts/dearjoe/dearjoe.scss";

html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

.underline {
	border-bottom:2px solid;
	transition: border-bottom 1s;
}
.underline input[type="text"] {
  border: none;
}
.underline input[type="text"]:focus,
.underline input[type="text"].focus {
  outline:none;
  border-bottom: solid 3px white;
}

.border-black-t {

	outline:none;
	border:1px solid black;
}

.border-t {
	border:1px solid;
	-webkit-transition:  border 1s;
    transition:  border 1s;
}

.border-left-t {

	border-left:1px solid;
	-webkit-transition:  border-left 1s;
    transition:  border-left 1s;

}

.border-right-t {
	border-right:1px solid;
	-webkit-transition:  border-right 1s;
    transition:  border-right 1s;

}

.border-top-t {
	border-top:1px solid;
	-webkit-transition: border-top 1s;
    transition: border-top 1s;
}

.border-bottom-t {
	border-bottom:1px solid;
	-webkit-transition: border-bottom 1s;
    transition: border-bottom 1s;
}

.black-t {
  border-color:black;
}

.white-t {
	border-color:white;
}


/*#spinner {
	transition: transform 2s linear;
}*/

/*.spinning {

	transform:rotate(-350deg);
}*/


$startRot: 0deg;
$endRot: 360deg;

$startScaleSM: 0.95;
$endScaleSM: 1.05;

$startScaleMM: 0.9;
$endScaleMM: 1.1;

$startScaleLG: 0.8;
$endScaleLG: 1.2;

$leftBounce: 50%;
$rightBounce: -50%;
$bouncHeight: -50%;


$spinDurr: 1s;
$bounceDurr: 2s;
$scaleDurr: 2s;



@mixin transform($property) {
  -webkit-transform: $property;
     -moz-transform: $property;
      -ms-transform: $property;
       -o-transform: $property;
          transform: $property;
}



@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    @include transform(rotate($startRot))
  }
  to {
    @include transform(rotate($endRot))
  }
}
@keyframes rotating {
  from {
    @include transform(rotate($startRot))
  }
  to {
    @include transform(rotate($endRot))
  }
}


@-webkit-keyframes scalingSM /* Safari and Chrome */ {
  0% {
    @include transform(scale($startScaleSM))
  }
  50% {
    @include transform(scale($endScaleSM))
  }
  100% {
    @include transform(scale($startScaleSM))
  }
}
@keyframes scalingSM {
  0% {
    @include transform(scale($startScaleSM))
  }
  50% {
    @include transform(scale($endScaleSM))
  }
  100% {
    @include transform(scale($startScaleSM))
  }
}

@-webkit-keyframes scalingMM /* Safari and Chrome */ {
  0% {
    @include transform(scale($startScaleMM))
  }
  50% {
    @include transform(scale($endScaleMM))
  }
  100% {
    @include transform(scale($startScaleMM))
  }
}
@keyframes scalingMM {
  0% {
    @include transform(scale($startScaleMM))
  }
  50% {
    @include transform(scale($endScaleMM))
  }
  100% {
    @include transform(scale($startScaleMM))
  }
}

@-webkit-keyframes scalingLG /* Safari and Chrome */ {
  0% {
    @include transform(scale($startScaleLG))
  }
  50% {
    @include transform(scale($endScaleLG))
  }
  100% {
    @include transform(scale($startScaleLG))
  }
}
@keyframes scalingLG {
  0% {
    @include transform(scale($startScaleLG))
  }
  50% {
    @include transform(scale($endScaleLG))
  }
  100% {
    @include transform(scale($startScaleLG))
  }
}


@-webkit-keyframes bounce /* Safari and Chrome */ {
  0% {
    @include transform(translate($rightBounce,$bouncHeight));
  }
  50% {
    @include transform(translate($leftBounce,$bouncHeight));
  }
  100% {
    @include transform(translate($rightBounce,$bouncHeight));
  }
}
@keyframes bounce {
  0% {
    @include transform(translate($rightBounce,$bouncHeight));
  }
  50% {
    @include transform(translate($leftBounce,$bouncHeight));
  }
  100% {
    @include transform(translate($rightBounce,$bouncHeight));
  }
}


.spinning {
  -webkit-animation: rotating $spinDurr ease infinite;
  -moz-animation: rotating $spinDurr ease infinite;
  -ms-animation: rotating $spinDurr ease infinite;
  -o-animation: rotating $spinDurr ease infinite;
  animation: rotating $spinDurr ease infinite;
}



.bouncing {

  -webkit-animation: bounce $bounceDurr ease infinite;
  -moz-animation: bounce $bounceDurr ease infinite;
  -ms-animation: bounce $bounceDurr ease infinite;
  -o-animation: bounce $bounceDurr ease infinite;
  animation: bounce $bounceDurr ease infinite;
}


.scaling {
  -webkit-animation: scalingSM $scaleDurr ease infinite;
  -moz-animation: scalingSM $scaleDurr ease infinite;
  -ms-animation: scalingSM $scaleDurr ease infinite;
  -o-animation: scalingSM $scaleDurr ease infinite;
  animation: scalingSM $scaleDurr ease infinite;
}


.scaling-sm {
  -webkit-animation: scalingSM $scaleDurr ease infinite;
  -moz-animation: scalingSM $scaleDurr ease infinite;
  -ms-animation: scalingSM $scaleDurr ease infinite;
  -o-animation: scalingSM $scaleDurr ease infinite;
  animation: scalingSM $scaleDurr ease infinite;
}

.scaling-mm {
  -webkit-animation: scalingMM $scaleDurr ease infinite;
  -moz-animation: scalingMM $scaleDurr ease infinite;
  -ms-animation: scalingMM $scaleDurr ease infinite;
  -o-animation: scalingMM $scaleDurr ease infinite;
  animation: scalingMM $scaleDurr ease infinite;
}

.scaling-lg {
  -webkit-animation: scalingLG $scaleDurr ease infinite;
  -moz-animation: scalingLG $scaleDurr ease infinite;
  -ms-animation: scalingLG $scaleDurr ease infinite;
  -o-animation: scalingLG $scaleDurr ease infinite;
  animation: scalingLG $scaleDurr ease infinite;
}

