@font-face {
    font-family: 'dear-joe';
    src: url('DJ5CTRIAL.ttf') format("truetype"),
    	url('DJ5CTRIAL.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}


.dearjoe {
	font-family:'dear-joe';
}